<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="КБЛА_Management"
			 connectionString="Data Source=LAPTOP-R960VEUB\SERVER;Initial Catalog=КБЛА_Management;User ID=sa;Password=1627;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
