USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[Обновить_задачу]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 2. Процедура для обновления задачи
CREATE PROCEDURE [dbo].[Обновить_задачу]
    @IDзадачи INT,
    @Цель_задачи NVARCHAR(255) = NULL,
    @Дата_начала DATE = NULL,
    @Дата_окончания DATE = NULL,
    @Стадия_выполнения NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE Задача
        SET 
            Цель_задачи = ISNULL(@Цель_задачи, Цель_задачи),
            Дата_начала = ISNULL(@Дата_начала, Дата_начала),
            Дата_окончания = CASE 
                                WHEN @Дата_окончания IS NULL THEN Дата_окончания 
                                ELSE @Дата_окончания 
                             END,
            Стадия_выполнения = ISNULL(@Стадия_выполнения, Стадия_выполнения)
        WHERE 
            IDзадачи = @IDзадачи;

        COMMIT TRANSACTION;
        RETURN 0;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        RETURN ERROR_NUMBER();
    END CATCH
END;
GO
