USE [КБЛА_Management]
GO
/****** Object:  View [dbo].[Текущие_задачи]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[Текущие_задачи] AS
SELECT 
    з.IDзадачи, 
    з.Цель_задачи,
    з.Стадия_выполнения,
    з.Дата_начала,
    з.Дата_окончания, -- Должно быть NULL, если не задано
    о.ФИО AS Ответственный_оператор,
    к.IDкбла AS КБЛА
FROM 
    Задача з
LEFT JOIN Сотрудник о ON з.Код_сотрудника = о.Код_сотрудника
LEFT JOIN КБЛА к ON з.IDзадачи = к.IDзадачи
WHERE 
    з.Стадия_выполнения NOT IN ('Завершена', 'Отменена');
GO
