USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Отчеты_о_поломках]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты_о_поломках](
	[ID_отчета] [int] IDENTITY(1,1) NOT NULL,
	[IDкбла] [int] NOT NULL,
	[Название_КБЛА] [nvarchar](100) NULL,
	[Тип_КБЛА] [nvarchar](100) NULL,
	[Дата_создания] [datetime] NOT NULL,
	[ТекстОтчета] [nvarchar](max) NULL,
	[Статус] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_отчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Отчеты_о_поломках] ADD  DEFAULT ('Новый') FOR [Статус]
GO
ALTER TABLE [dbo].[Отчеты_о_поломках]  WITH CHECK ADD FOREIGN KEY([IDкбла])
REFERENCES [dbo].[КБЛА] ([IDкбла])
GO
