USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Причина_ошибки]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Причина_ошибки](
	[ID_причины] [int] IDENTITY(1,1) NOT NULL,
	[Код_ошибки] [dbo].[Код_ошибки] NOT NULL,
	[Описание_причины] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_причины] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Причина_ошибки]  WITH CHECK ADD FOREIGN KEY([Код_ошибки])
REFERENCES [dbo].[Ошибка] ([Код_ошибки])
GO
