USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Журнал_команд]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_команд](
	[ID_записи] [int] IDENTITY(1,1) NOT NULL,
	[Код_сотрудника] [int] NOT NULL,
	[IDкбла] [int] NOT NULL,
	[Номер_команды] [int] NOT NULL,
	[Длительность_выполнения] [time](7) NOT NULL,
	[Время_отправки_команды] [datetime] NOT NULL,
	[Время_завершения] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Журнал_команд]  WITH CHECK ADD FOREIGN KEY([IDкбла])
REFERENCES [dbo].[КБЛА] ([IDкбла])
GO
ALTER TABLE [dbo].[Журнал_команд]  WITH CHECK ADD FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[Журнал_команд]  WITH CHECK ADD FOREIGN KEY([Номер_команды])
REFERENCES [dbo].[Команда] ([Номер_команды])
GO
