USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[ДобавитьЗадачу]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавитьЗадачу]
    @Код_оператора INT,
    @Цель_задачи NVARCHAR(255),
    @Дата_начала DATE = NULL,
    @Дата_окончания DATE = NULL,
    @Статус_задачи NVARCHAR(50) = 'Новая'
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Установка даты начала по умолчанию
        IF @Дата_начала IS NULL
            SET @Дата_начала = CAST(GETDATE() AS DATE);
        
        -- Вставка новой задачи
        INSERT INTO Задача (
            Код_сотрудника,
            Цель_задачи,
            Дата_начала,
            Дата_окончания,
            Стадия_выполнения
        )
        VALUES (
            @Код_оператора,
            @Цель_задачи,
            @Дата_начала,
            @Дата_окончания, -- Может быть NULL
            @Статус_задачи
        );
        
        -- Возвращаем успешный результат
        SELECT 
            CAST(1 AS BIT) AS Success,
            'Задача успешно добавлена' AS Message,
            SCOPE_IDENTITY() AS НовыйID;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SELECT 
            CAST(0 AS BIT) AS Success,
            'Ошибка: ' + ERROR_MESSAGE() AS Message,
            NULL AS НовыйID;
    END CATCH
END
GO
