USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Отчет_об_ошибках]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчет_об_ошибках](
	[ID_отчета] [int] IDENTITY(1,1) NOT NULL,
	[Серийный_номер] [nvarchar](50) NOT NULL,
	[Код_ошибки] [dbo].[Код_ошибки] NOT NULL,
	[Дата_и_время_ошибки] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_отчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Отчет_об_ошибках]  WITH CHECK ADD FOREIGN KEY([Код_ошибки])
REFERENCES [dbo].[Ошибка] ([Код_ошибки])
GO
ALTER TABLE [dbo].[Отчет_об_ошибках]  WITH CHECK ADD FOREIGN KEY([Серийный_номер])
REFERENCES [dbo].[Датчики] ([Серийный_номер])
GO
