USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Тип_ошибки]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_ошибки](
	[ID_типа] [int] IDENTITY(1,1) NOT NULL,
	[Название_типа] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_типа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
