USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[Добавить_КБЛА]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Процедура для добавления нового КБЛА
CREATE PROCEDURE [dbo].[Добавить_КБЛА]
    @Код_сотрудника INT,
    @IDзадачи INT,
    @IDорбиты INT,
    @ID_типа_КБЛА INT,
    @Состояние_КБЛА NVARCHAR(50),
    @Дата_запуска DATE,
    @Производитель NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO КБЛА (
            Код_сотрудника, IDзадачи, IDорбиты, ID_типа_КБЛА, 
            Состояние_КБЛА, Дата_запуска, Производитель
        )
        VALUES (
            @Код_сотрудника, @IDзадачи, @IDорбиты, @ID_типа_КБЛА,
            @Состояние_КБЛА, @Дата_запуска, @Производитель
        );

        COMMIT TRANSACTION;
        RETURN 0;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        RETURN ERROR_NUMBER();
    END CATCH
END;
GO
