USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[ОбновитьСостояниеКБЛА]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ОбновитьСостояниеКБЛА]
    @IDкбла INT,
    @НовоеСостояние NVARCHAR(50),
    @КодСотрудника INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Проверяем существование КБЛА
        IF NOT EXISTS (SELECT 1 FROM КБЛА WHERE IDкбла = @IDкбла)
        BEGIN
            THROW 50001, 'КБЛА с указанным ID не существует', 1;
        END
        
        -- Проверяем допустимость состояния
        IF @НовоеСостояние NOT IN ('Работает', 'Неисправен', 'На обслуживании', 
                                  'Выведен из строя', 'Проверяется', 'Не работает')
        BEGIN
            THROW 50002, 'Недопустимое состояние КБЛА', 1;
        END
        
        -- Обновляем состояние
        UPDATE КБЛА 
        SET Состояние_КБЛА = @НовоеСостояние,
            Код_сотрудника = @КодСотрудника
        WHERE IDкбла = @IDкбла;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        THROW;
    END CATCH
END
GO
