USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[Зарегистрировать_ошибку]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 3. Процедура для регистрации ошибки
CREATE PROCEDURE [dbo].[Зарегистрировать_ошибку]
    @Серийный_номер NVARCHAR(50),
    @Код_ошибки Код_ошибки,
    @Дата_и_время_ошибки DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (
            SELECT 1 FROM Датчики WHERE Серийный_номер = @Серийный_номер
        )
        BEGIN
            RETURN -1; -- Датчик не найден
        END

        IF NOT EXISTS (
            SELECT 1 FROM Ошибка WHERE Код_ошибки = @Код_ошибки
        )
        BEGIN
            RETURN -2; -- Код ошибки не найден
        END

        INSERT INTO Отчет_об_ошибках (Серийный_номер, Код_ошибки, Дата_и_время_ошибки)
        VALUES (@Серийный_номер, @Код_ошибки, @Дата_и_время_ошибки);

        UPDATE Датчики
        SET Состояние_датчика = 'Ошибка'
        WHERE Серийный_номер = @Серийный_номер;

        COMMIT TRANSACTION;
        RETURN 0;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        RETURN ERROR_NUMBER();
    END CATCH
END;
GO
