USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[КБЛА]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[КБЛА](
	[IDкбла] [int] IDENTITY(1001,1) NOT NULL,
	[Код_сотрудника] [int] NOT NULL,
	[IDзадачи] [int] NOT NULL,
	[IDорбиты] [int] NULL,
	[ID_типа_КБЛА] [int] NOT NULL,
	[Состояние_КБЛА] [nvarchar](50) NOT NULL,
	[Дата_запуска] [date] NULL,
	[Производитель] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDкбла] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[КБЛА]  WITH CHECK ADD FOREIGN KEY([ID_типа_КБЛА])
REFERENCES [dbo].[Тип_КБЛА] ([ID_типа])
GO
ALTER TABLE [dbo].[КБЛА]  WITH CHECK ADD FOREIGN KEY([IDзадачи])
REFERENCES [dbo].[Задача] ([IDзадачи])
GO
ALTER TABLE [dbo].[КБЛА]  WITH CHECK ADD FOREIGN KEY([IDорбиты])
REFERENCES [dbo].[Орбита] ([IDорбиты])
GO
ALTER TABLE [dbo].[КБЛА]  WITH CHECK ADD FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[КБЛА]  WITH CHECK ADD  CONSTRAINT [CK_Состояние_КБЛА] CHECK  (([Состояние_КБЛА]='Не работает' OR [Состояние_КБЛА]='Проверяется' OR [Состояние_КБЛА]='Выведен из строя' OR [Состояние_КБЛА]='На обслуживании' OR [Состояние_КБЛА]='Неисправен' OR [Состояние_КБЛА]='Работает'))
GO
ALTER TABLE [dbo].[КБЛА] CHECK CONSTRAINT [CK_Состояние_КБЛА]
GO
