USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[ДобавитьКомандуВЖурнал]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавитьКомандуВЖурнал]
    @Код_сотрудника INT,
    @IDкбла INT,
    @Номер_команды INT,
    @Длительность_выполнения TIME,
    @Время_отправки_команды DATETIME,
    @Время_завершения DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Просто вставляем данные - все проверки выполнит триггер
        INSERT INTO Журнал_команд (
            Код_сотрудника,
            IDкбла,
            Номер_команды,
            Длительность_выполнения,
            Время_отправки_команды,
            Время_завершения
        )
        VALUES (
            @Код_сотрудника,
            @IDкбла,
            @Номер_команды,
            @Длительность_выполнения,
            @Время_отправки_команды,
            @Время_завершения
        );
        
        SELECT 1 AS Success, 'Команда успешно добавлена в журнал' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, 'Ошибка: ' + ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
