USE [КБЛА_Management]
GO
/****** Object:  View [dbo].[Детализированные_ошибки]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Представление для отчета об ошибках с детализацией
CREATE VIEW [dbo].[Детализированные_ошибки] AS
SELECT 
    д.Серийный_номер,
    тд.Название AS Тип_датчика,
    к.IDкбла AS КБЛА,
    о.Код_ошибки,
    то.Название_типа AS Тип_ошибки,
    о.Критичность_ошибки,
    оо.Дата_и_время_ошибки
FROM 
    Отчет_об_ошибках оо
JOIN 
    Датчики д ON оо.Серийный_номер = д.Серийный_номер
JOIN 
    Тип_датчика тд ON д.ID_типа_датчика = тд.ID_типа
JOIN 
    КБЛА к ON д.IDкбла = к.IDкбла
JOIN 
    Ошибка о ON оо.Код_ошибки = о.Код_ошибки
JOIN 
    Тип_ошибки то ON о.ID_типа_ошибки = то.ID_типа;
GO
