USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[ОбновитьСтатусЗадачи]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ОбновитьСтатусЗадачи]
    @IDзадачи INT,
    @НовыйСтатус NVARCHAR(50),
    @Код_оператора INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Проверка существования задачи
        IF NOT EXISTS (SELECT 1 FROM Задача WHERE IDзадачи = @IDзадачи)
        BEGIN
            SELECT 
                CAST(0 AS BIT) AS Success, 
                'Задача с указанным ID не найдена' AS Message;
            RETURN;
        END
        
        -- Проверка прав доступа
        DECLARE @ОтветственныйОператор INT, @УровеньДоступа INT;
        
        SELECT 
            @ОтветственныйОператор = з.Код_сотрудника,
            @УровеньДоступа = д.Уровень_доступа
        FROM Задача з
        JOIN Сотрудник с ON з.Код_сотрудника = с.Код_сотрудника
        JOIN Должность д ON с.Код_должности = д.Код_должности
        WHERE з.IDзадачи = @IDзадачи;
        
        IF @Код_оператора <> @ОтветственныйОператор AND @УровеньДоступа <= 2
        BEGIN
            SELECT 
                CAST(0 AS BIT) AS Success, 
                'У вас нет прав для изменения статуса этой задачи' AS Message;
            RETURN;
        END
        
        -- Обновление статуса
        UPDATE Задача 
        SET Стадия_выполнения = @НовыйСтатус
        WHERE IDзадачи = @IDзадачи;
        COMMIT TRANSACTION;
        
        SELECT 
            CAST(1 AS BIT) AS Success, 
            'Статус успешно обновлен' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SELECT 
            CAST(0 AS BIT) AS Success, 
            'Ошибка при обновлении статуса: ' + ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
