USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Задача]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Задача](
	[IDзадачи] [int] IDENTITY(1,1) NOT NULL,
	[Код_сотрудника] [int] NULL,
	[Цель_задачи] [nvarchar](255) NOT NULL,
	[Дата_начала] [date] NOT NULL,
	[Дата_окончания] [date] NULL,
	[Стадия_выполнения] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDзадачи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Задача]  WITH CHECK ADD FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[Задача]  WITH CHECK ADD  CONSTRAINT [CK_Дата_окончания_задачи] CHECK  (([Дата_окончания] IS NULL OR [Дата_окончания]>=[Дата_начала]))
GO
ALTER TABLE [dbo].[Задача] CHECK CONSTRAINT [CK_Дата_окончания_задачи]
GO
