USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Орбита]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Орбита](
	[IDорбиты] [int] IDENTITY(1,1) NOT NULL,
	[Высота_орбиты] [float] NOT NULL,
	[Эксцентриситет_орбиты] [float] NOT NULL,
	[Наклонение_орбиты] [float] NOT NULL,
	[Синхронность_орбиты] [bit] NOT NULL,
	[Функции_орбиты] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDорбиты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
