USE [КБЛА_Management]
GO
/****** Object:  View [dbo].[Состояние_КБЛА]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Представление для отображения состояния всех КБЛА
CREATE VIEW [dbo].[Состояние_КБЛА] AS
SELECT 
    к.IDкбла,
    к.Состояние_КБЛА,
    тк.Описание AS Тип_КБЛА,
    о.ФИО AS Оператор,
    з.Цель_задачи AS Текущая_задача,
    ор.Высота_орбиты,
	д.Полученные_данные,
	д.Время_получения
FROM 
    КБЛА к
JOIN 
    Тип_КБЛА тк ON к.ID_типа_КБЛА = тк.ID_типа
JOIN 
    Сотрудник о ON к.Код_сотрудника = о.Код_сотрудника
JOIN 
    Задача з ON к.IDзадачи = з.IDзадачи
JOIN 
    Орбита ор ON к.IDорбиты = ор.IDорбиты
JOIN
	Датчики д ON к.IDкбла = д.IDкбла;
GO
