USE [КБЛА_Management]
GO
/****** Object:  StoredProcedure [dbo].[ДобавитьКБЛА]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ДобавитьКБЛА]
    @Код_сотрудника INT,
    @IDзадачи INT,
    @IDорбиты INT = NULL,
    @ID_типа_КБЛА INT,
    @Состояние_КБЛА NVARCHAR(50),
    @Дата_запуска DATE,
    @Производитель NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Простая вставка - все проверки будут в триггере
        INSERT INTO КБЛА (
            Код_сотрудника,
            IDзадачи,
            IDорбиты,
            ID_типа_КБЛА,
            Состояние_КБЛА,
            Дата_запуска,
            Производитель
        )
        VALUES (
            @Код_сотрудника,
            @IDзадачи,
            @IDорбиты,
            @ID_типа_КБЛА,
            @Состояние_КБЛА,
            @Дата_запуска,
            @Производитель
        );
        
        -- Возврат ID новой записи
        SELECT SCOPE_IDENTITY() AS NewKBLAId;
    END TRY
    BEGIN CATCH
        -- Просто передаем ошибку из триггера клиенту
        THROW;
    END CATCH
END
GO
