USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Датчики]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Датчики](
	[Серийный_номер] [nvarchar](50) NOT NULL,
	[IDкбла] [int] NOT NULL,
	[ID_типа_датчика] [int] NOT NULL,
	[Срок_эксплуатации] [date] NOT NULL,
	[Состояние_датчика] [nvarchar](50) NOT NULL,
	[Полученные_данные] [nvarchar](max) NULL,
	[Время_получения] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Серийный_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Датчики]  WITH CHECK ADD FOREIGN KEY([ID_типа_датчика])
REFERENCES [dbo].[Тип_датчика] ([ID_типа])
GO
ALTER TABLE [dbo].[Датчики]  WITH CHECK ADD FOREIGN KEY([IDкбла])
REFERENCES [dbo].[КБЛА] ([IDкбла])
GO
