USE [КБЛА_Management]
GO
/****** Object:  View [dbo].[ЖурналКомандСДетализацией]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. Представление для детализации журнала
CREATE VIEW [dbo].[ЖурналКомандСДетализацией] AS
SELECT 
    ж.ID_записи,
    ж.IDкбла,
    тк.Название AS Тип_КБЛА,
    к.Общее_описание AS Текст_команды,
    ж.Время_отправки_команды AS Дата_время_отправки,
    ж.Время_завершения AS Дата_время_завершения,
    ж.Длительность_выполнения,
    DATEDIFF(SECOND, ж.Время_отправки_команды, ж.Время_завершения) AS Длительность_в_секундах,
    с.ФИО AS Оператор,
    ж.Код_сотрудника
FROM 
    Журнал_команд ж
JOIN 
    КБЛА кб ON ж.IDкбла = кб.IDкбла
JOIN 
    Тип_КБЛА тк ON кб.ID_типа_КБЛА = тк.ID_типа
JOIN 
    Команда к ON ж.Номер_команды = к.Номер_команды
JOIN 
    Сотрудник с ON ж.Код_сотрудника = с.Код_сотрудника;
GO
