USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Действие_команды]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Действие_команды](
	[ID_действия] [int] IDENTITY(10,1) NOT NULL,
	[Номер_команды] [int] NOT NULL,
	[Порядковый_номер] [int] NOT NULL,
	[Описание_действия] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_действия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Действие_команды]  WITH CHECK ADD FOREIGN KEY([Номер_команды])
REFERENCES [dbo].[Команда] ([Номер_команды])
GO
