USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Команда]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Команда](
	[Номер_команды] [int] IDENTITY(1,1) NOT NULL,
	[Общее_описание] [nvarchar](255) NOT NULL,
	[Уровень_доступа] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_команды] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Команда]  WITH CHECK ADD  CONSTRAINT [CK_Уровень_доступа] CHECK  (([Уровень_доступа]>=(1) AND [Уровень_доступа]<=(5) OR [Уровень_доступа] IS NULL))
GO
ALTER TABLE [dbo].[Команда] CHECK CONSTRAINT [CK_Уровень_доступа]
GO
