USE [КБЛА_Management]
GO
/****** Object:  Table [dbo].[Ошибка]    Script Date: 06.07.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ошибка](
	[Код_ошибки] [dbo].[Код_ошибки] NOT NULL,
	[Критичность_ошибки] [nvarchar](50) NOT NULL,
	[ID_типа_ошибки] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Код_ошибки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ошибка]  WITH CHECK ADD FOREIGN KEY([ID_типа_ошибки])
REFERENCES [dbo].[Тип_ошибки] ([ID_типа])
GO
